@layout EmptyLayout
@page "/Sell"
@inject IRealEstateService realEstateService
@inject IUploadViewModel UploadViewModel
@inject NavigationManager nav
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Sell</PageTitle>



<EditForm class=" py-1 bg-blueGray-50" Model="@realEstate" OnValidSubmit="@OnValidPost">
    <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
        <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
            <div class="rounded-t bg-white mb-0 px-6 py-6">
                <div class="text-center flex justify-between">
                    <h6 class="text-blueGray-700 text-xl font-bold">
                        Add your Real Estate
                    </h6>

                </div>
            </div>
            <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <div>


                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Intial info
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="flex flex-col items-center w-full">
                            <img class="object-cover w-full h-64 mb-3" src="@(image != "" ? image : "https://via.placeholder.com/450x450")" alt="Article">
                            <InputFile OnChange="OnFileChange" class="mb-5"></InputFile>
                        </div>
                        <div class="w-full px-4">
                            <div class="relative w-full mb-3">
                                <label for="name" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Title
                                </label>
                               <InputText id="Title"  @bind-Value="realEstate.Name" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                        <div class="w-full lg:w-12/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="description" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Description
                                </label>
                                <InputTextArea id="description"  @bind-Value="realEstate.Description" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" rows="4"/>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-6 border-b-1 border-blueGray-300">


                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        User Information
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="propertyType" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Property Type
                                </label>
                                <InputSelect id="propertyType" @bind-Value="realEstate.PropertyType" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                                    <option selected="selected">--Select--</option>
                                    <option value="Flat">Flat</option>
                                    <option value="Duplex">Duplex</option>
                                    <option value="Villa">Villa</option>
                                    <option value="Office">Office</option>
                                    <option value="Studio">Studio</option>
                                    <option value="Shop">Shop</option>
                                    <option value="Land">Land</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="offerType" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Offer Type
                                </label>
                                <InputSelect id="offerType" @bind-Value="realEstate.OfferType" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                                    <option selected="selected">--Select--</option>
                                    <option value="ForRent">For Rent</option>
                                    <option value="ForSale">For Sale</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="price" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Price
                                </label>
                                <InputNumber id="Price"  @bind-Value="realEstate.Price" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="space" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Space
                                </label>
                                <InputNumber id="space"  @bind-Value="realEstate.Space" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                    </div>

                    <hr class="mt-6 border-b-1 border-blueGray-300">

                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Location
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-12/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="address" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Address
                                </label>
                                <InputText id="address"  @bind-Value="realEstate.Address" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="country" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Country
                                </label>
                                <InputSelect id="country" @bind-Value="realEstate.Country" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                                    <option selected="selected">--Select--</option>
                                    <option>United States</option>

                                    <option>Canada</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="city" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    City
                                </label>
                                <InputSelect id="city" @bind-Value="realEstate.City" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                                    <option selected="selected">--Select--</option>
                                    <option>United States</option>
                                    <option>Canada</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                </InputSelect>
                            </div>
                        </div>
                     
                    </div>

                    <hr class="mt-6 border-b-1 border-blueGray-300">

                    <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
                        Real Estate Information
                    </h6>
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="bedroom" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Bedrooms
                                </label>
                               <InputNumber id="bedroom"  @bind-Value="realEstate.BedroomNum" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 px-4">
                            <div class="relative w-full mb-3">
                                <label for="bathroom" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                    Bathrooms
                                </label>
                                <InputNumber id="bathroom"  @bind-Value="realEstate.BathroomNum" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
                            </div>
                        </div>
                        
                    </div>

                    <div class="flex flex-row justify-between mt-2 mr-1">
                            <div class="flex items-center mb-4">
                                <input id="security" value="@realEstate.SecuritySystem" aria-describedby="checkbox-2" type="checkbox" class="bg-gray-100 focus:ring-blue-500 ml-3 text-blue-600 border-gray-300 h-5 w-5  rounded dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="security" class="text-1xl ml-3 font-medium text-gray-900 dark:text-gray-300">Security</label>
                            </div>
                            <div class="flex items-center mb-4">
                                <input id="garden" value="@realEstate.Garden" aria-describedby="checkbox-2" type="checkbox" class="bg-gray-100 focus:ring-blue-500 ml-3 text-blue-600 border-gray-300 h-5 w-5  rounded dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="garden" class="text-1xl ml-3 font-medium text-gray-900 dark:text-gray-300">Garden</label>
                            </div>
                            <div class="flex items-center mb-4">
                                <input id="swimmingPool" value="@realEstate.SwimmingPool" aria-describedby="checkbox-2" type="checkbox" class="bg-gray-100 ml-3 focus:ring-blue-500 text-blue-600 border-gray-300 h-5 w-5  rounded dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="swimmingPool" class="text-1xl ml-3 font-medium text-gray-900 dark:text-gray-300">Swimming Pool</label>
                            </div>
                        </div>




                    <hr class="mt-6 border-b-1 border-blueGray-300">

                    <div class="flex mt-5 w-full justify-between">
                        <h3 class="text-2xl text-red-500">@error</h3>
                    <button type="submit" class="btn bg-pink-500 p-2 w-18 text-white rounded-lg">Save</button>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</EditForm>



@code {
    private string image = string.Empty;

    private IBrowserFile browserFile;

    private RealEstate realEstate = new();

    private string error = string.Empty;

    public async Task OnFileChange(InputFileChangeEventArgs e)
    {
        browserFile = e.File;
        var buffers = new byte[browserFile.Size];
        await browserFile.OpenReadStream(512000000).ReadAsync(buffers);
        string imageType = browserFile.ContentType;
        var base64string = Convert.ToBase64String(buffers);
        image ="data:" + imageType + ";base64," + base64string;
    }

    public async Task OnValidPost()
    {
        realEstate.PhotoPath = await UploadViewModel.UploadAsync(browserFile);
        var postSucceeded = await realEstateService.PostRealEstate(realEstate);
        if (postSucceeded)
            nav.NavigateTo("/Buy");
        else
            error = "Error";
    }
    
    

}
